.body {
  height: 100vh;
  width: 100vw;
}
header {
  display: flex;
  padding: 2rem 5rem;
  justify-content: space-between;
}

main {
  margin: 3.2rem 0;
  width: 90%;
}

.user-item {
    background: #fff;
    border: 1px solid #e6e6f0;
    border-radius: 0.8rem;
    margin-top: 2.4rem;
    overflow: hidden;
  }
  .user-item header {
    padding: 3.2rem 2rem;
    display: flex;
    align-items: center;
  }
  .user-item header img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }
  .user-item header div strong {
    font: 700 2.4rem Archivo;
    display: block;
    color: #32264d;
  }
  .user-item header div span {
    font-size: 1.6rem;
    display: block;
    margin-top: 0.4rem;
  }
  .user-item > p {
    padding: 0 2rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
  .user-item footer {
    padding: 3.2rem 2rem;
    background: #fafafc;
    border-top: 1px solid #e6e6f0;
    margin-top: 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .user-item footer p strong {
    color: var(--color-primary);
    font-size: 1.6rem;
    display: block;
  }
  .user-item footer button:nth-child(1) {
    background: #04bf58;
  }

  .user-item footer button:nth-child(2) {
    background: red;
    margin-top: 1rem;
  }

  @media (min-width: 700px) {
    .user-item header,
    .user-item footer {
      padding: 3.2rem;
    }
    .user-item > p {
      padding: 0 3.2rem;
    }
    .user-item footer p strong {
      display: initial;
      margin-left: 1.6rem;
    }
    .user-item footer button {
      width: 24.5rem;
      font-size: 1.6rem;
      justify-content: center;
    }
    .user-item footer button img {
      margin-right: 1.6rem;
    }
    main {
      padding: 3.2rem 0;
      max-width: 740px;
      margin: 0 auto;
    }
  }

  button {
    width: 20rem;
    height: 5.6rem;
    color: #fff;
    background-color: #04bf58;
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s;
    text-decoration: none;
  }